#content .blog_header_wrapper{
    background-color: #3E6E8A;
}
#content .blog_header_wrapper .blog_header{
    color: #DEDEDE;
}

#content .post_header{
    color: #40AEE2;
}
#content .post .date {
    color: #828282;
    float: right;
}

#content .post-form textarea,
#content .post-form input {
    width: 100%;
}